@import "~ngx-toastr/toastr";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "font-awesome/scss/font-awesome";

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins";
  background: #e8f0fe;
}

.footer {
  padding: 50px 0;
  text-align: center;
  background-color: transparent;

  .social-links {
    a {
      height: 40px;
      width: 40px;
      display: inline-flex;
      background-color: #6787e8;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin: 0 4px;
      border: 1px solid transparent;
      color: #d6e4e5;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        background-color: transparent;
        color: #2148c0;
        border-radius: initial;
      }

      .footer-copy {
        margin-top: 1.5rem;
      }
    }
  }
}
