<div class="login-content">
  <svg
    _ngcontent-cou-c20=""
    width="500"
    height="500"
    viewBox="0 0 292 252"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; top: -32px; right: 0"
  >
    <path
      _ngcontent-cou-c20=""
      d="M87.5096 48.735C41.8277 53.1908 10.7555 18.1016 0.929626 0L292 1.21837V251.159H259.49C158.829 237.931 175.774 185.193 196.829 160.477C209.126 143.13 231.36 101.334 221.928 72.9284C210.136 37.4215 144.612 43.1653 87.5096 48.735Z"
      fill="#264ECA"
    ></path>
  </svg>

  <svg
    width="600"
    height="600"
    viewBox="0 0 244 253"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; bottom: -136px; left: -64px"
  >
    <ellipse
      cx="121.953"
      cy="126.985"
      rx="121.953"
      ry="126.015"
      fill="#264ECA"
    ></ellipse>
  </svg>

  <svg
    width="450"
    height="450"
    viewBox="0 0 194 200"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; bottom: -64px; left: 6px"
  >
    <ellipse
      cx="96.9531"
      cy="99.9852"
      rx="96.3497"
      ry="99.5586"
      fill="#244BC5"
    ></ellipse>
  </svg>

  <svg
    width="300"
    height="300"
    viewBox="0 0 148 154"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; bottom: 10px; left: 75px"
  >
    <ellipse
      cx="73.9531"
      cy="76.9852"
      rx="73.7783"
      ry="76.2355"
      fill="#274FC7"
    ></ellipse>
  </svg>

  <div class="container card-content">
    <div class="card">
      <picture class="mb-3">
        <img src="../../../../assets/img/logo.png" alt="logo" />
      </picture>
      <p class="subtitle">Necesitamos tu usuario y contraseña</p>

      <input
        type="text"
        class="form-control mb-3"
        [(ngModel)]="username"
        autocomplete="off"
        id="exampleFormControlInput1"
        placeholder="Nombre usuario"
      />
      <input
        type="password"
        id="inputPassword5"
        [(ngModel)]="password"
        autocomplete="off"
        class="form-control mb-4"
        aria-describedby="passwordHelpBlock"
        placeholder="Contraseña"
      />

      <button type="button" class="btn btn-submit mb-3" (click)="login()">
        Iniciar sesión
      </button>

      <div class="d-flex align-items-center justify-content-between">
        <div class="form-check mb-0">
          <input class="form-check-input" type="checkbox" value="" checked />
          <label class="form-check-label" for="flexCheckChecked">
            Permanecer conectado
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
